# If enabled, vsftpd will run in standalone mode. This means that vsftpd must not be run from an inetd of some kind. Instead, the vsftpd executable is run once directly. vsftpd itself will then take care of listening for and handling incoming connections.
# Default: YES 
listen=YES
#
#
# Controls whether anonymous logins are permitted or not. If enabled, both the usernames ftp and anonymous are recognised as anonymous logins.
# Default: YES 
anonymous_enable=NO
#
#
# Controls whether local logins are permitted or not. If enabled, normal user accounts in /etc/passwd (or wherever your PAM config references) may be used to log in. This must be enable for any non-anonymous login to work, including virtual users.
# Default: NO 
local_enable=YES
#
#
# Uncomment this to enable any form of FTP write command.
write_enable=YES
#
#
# If enabled, users of the FTP server can be shown messages when they first enter a new directory. By default, a directory is scanned for the file .message, but that may be overridden with the configuration setting message_file.
# Default: NO (but the sample config file enables it) 
dirmessage_enable=YES
#
#
# If enabled, vsftpd will display directory listings with the time in your local time zone. The default is to display GMT. The times returned by the MDTM FTP command are also affected by this option.
# Default: NO 
use_localtime=YES
#
#
# If enabled, a log file will be maintained detailling uploads and downloads. By default, this file will be placed at /var/log/vsftpd.log, but this location may be overridden using the configuration setting vsftpd_log_file.
# Default: NO (but the sample config file enables it) 
xferlog_enable=YES
#
#
# This controls whether PORT style data connections use port 20 (ftp-data) on the server machine. For security reasons, some clients may insist that this is the case. Conversely, disabling this option enables vsftpd to run with slightly less privilege.
# Default: NO (but the sample config file enables it) 
connect_from_port_20=YES
#
#
# If enabled, the transfer log file will be written in standard xferlog format, as used by wu-ftpd. This is useful because you can reuse existing transfer statistics generators. The default format is more readable, however. The default location for this style of log file is /var/log/xferlog, but you may change it with the setting xferlog_file.
# Default: NO 
xferlog_std_format=YES
#
#
# This string option allows you to override the greeting banner displayed by vsftpd when a connection first comes in.
# Default: (none - default vsftpd banner is displayed) 
ftpd_banner=Welcome to LinuxLab FTP service.
#
#
# This string is the name of the PAM service vsftpd will use.
# Default: ftp 
pam_service_name=vsftpd
#
#
# This option represents a directory which vsftpd will try to change into after a local (i.e. non-anonymous) login. Failure is silently ignored.
# Default: (none) 
local_root={{ vsftpd_shares_root }}
